# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystm are summarized.

***Objectives:***
- List popular languages for DS
- List common libraries used for DS
- Popular Open Source Development Environments for DS

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scikit Learn
2. Pandas
3. Matplotlib
4. Seaborn
5. Plotly
6. Tensorflow

| Data Science Tools |
:--------:
|Jupyter|
|R|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Chi Lau